$background: #282726;
$foreground: #FFFCF0;
$foreground-400: #FFFCF070;
$accent: #CE5D97;
$accent-light: #E26DA9;
$dark: #1C1B1A;
$dark-400: #1C1B1A40;
$button-support-neutral-one: #403E3C;
$button-support-neutral-two: #343331;