@font-face {
    font-family: "Copernicus";
    src: url('/fonts/Copernicus-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: "Geist-Medium";
    src: url('/fonts/Geist-Medium.ttf') format('truetype');
}

@font-face {
    font-family: "Geist-Regular";
    src: url(/fonts/Geist-Regular.ttf) format('truetype');
}