@font-face {
    font-family: "Copernicus";
    src: url('/fonts/Copernicus-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: "Geist";
    src: url('/fonts/Geist-Medium.ttf') format('truetype');
}