@use "font-face" as *;

@mixin input-txt {
    font-family: 'Copernicus', serif;
    font-size: 2rem;
}

@mixin action-txt {
    font-family: 'Geist-Medium', sans-serif;
    font-size: 1rem;
}

@mixin selection-txt {
    font-family: 'Geist-Regular', sans-serif;
    font-size: 1rem;
}