@use "../abstracts/" as *;

form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16svh;
    margin-top: auto;

    @include respond-large {
        gap: 6svh;
        margin-top: 12svh;
    }
}